@media (max-width: 1280px) {
  body::before {
    width: 120%;
    height: 120%;
  }

  .cabecalho .titulo {
    font-size: 100px;
  }

  .selecao-de-personagens .lista-de-personagens {
    max-width: 330px;
  }

  .selecao-de-personagens .lista-de-personagens .personagem {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  body::before {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    width: 100%;
    height: 100%;
  }

  main {
    padding: 0 5px;
    justify-content: start;
  }

  .cabecalho .titulo {
    font-size: 90px;
  }

  .selecao-de-personagens .personagem-grande {
    display: none;
  }
}

@media (max-width: 360px) {
  .cabecalho .titulo {
    font-size: 70px;
  }
}
